table, td, th {  
    border: 1px solid black;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
  }

body{
    background-color: #EAC143;
}

.dropdown {
    position: relative;
    display: inline-block;
    align-content:flex-end;
  }

.errorMsg{
  color: red;
}